doctype html
html
  head
    title MarsSat
    link(href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.23/css/bulma.min.css" rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,700,300', rel='stylesheet', type='text/css')
    style.
      body {
        height: 100vh;
        overflow:hidden;
        background-color: #EAE0D4;
      }
      
      #content .column {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
      }
      
      #render_container{
        min-height: 100vh;
        // width: 100%;
        // position: relative;
        
      }
      
      #menu-bar {
        //position: absolute;
        // top: 0px;
        //left: 0px;
        height: 100vh;
        min-width: 400px;
        background-color: #EAE0D4;
        font-family: 'Roboto', sans-serif;
        padding-top:10px;
      }
      .menu-header {
      height: 8vh;
      }
      .menu-container {
      padding-left: 32px;
      padding-right: 32px;
      }
      .is-red {
      color: #CC3D41;
      }
      .is-black {
      color: #303030;
      }
      .h1 {
      font-size: 42px;
      font-weight: 300;
      margin-bottom: 48px;
      }
      .h2 {
      font-size: 24px;
      font-weight: 900;
      }
      hr {
      border: 0;
      height: 2px;
      background-color: #303030;
      opacity: 0.25;
      margin-top: 8px;
      margin-bottom: 24px;
      }
      .sat-button {
      float: left;
      width: 40px;
      min-width: 40px;
      max-width: 40px;
      min-height: 40px;
      max-height: 40px;
      margin-right: 40px;
      }
      .no-sat {
      border: 2px solid rgba(48,48,48,0.25);
      border-radius: 50%;
      }
      .has-sat {
      background-color: #303030;
      border-radius: 50%;
      }
      .upgrade {
      background-color: #ccc1b4;
      color: #FFFFFF;
      max-height: 40px;
      font-size: 18px;
      font-weight: 800;
      border-radius: 25px;
      
      padding-left: 23px;
      padding-right: 23px;
      padding-top: 6px;
      padding-bottom: 14px;
      
      float: right;
      }
      .upgrade:hover {
      background-color: #644F9A;
      }
      .menu-area {
      margin-top: 48px;
      }
      .mission-cards {
      overflow-x: hidden;
      overflow-y: scroll;
      }
      .vh-10 { height: 10vh; }
      .vh-50 { height: 50vh; }
      .vh-60 { height: 60vh; }
        
      .colony-card {
        background-color: #ccc1b4;
      }
      
      .colony-card > .timer {
        // display:none;
      }
      
      .colony-card .active {
        background-color: #e94e4a;
      }
      
      .colony-card .active > .timer {
        display: block;
      }
      

  body(style='margin: 0px; padding: 0px; position: relative;')
    #content.columns
      #menu-bar.column.is-one-quarter: include ./components/menubar.jade
      #render_container.column.is-three-quarters: #render_target(oncontextmenu='return false;')
    script(src='/js/app.js')
